@import "vars"

@media (max-width: 2560px)
	// header
	.header
		padding-left: 1.042vw
		.container-fluid
			padding-right: 0
			width: 100vw
		&__left
			display: flex
			padding-left: 0.99vw
			height: 100%
			.hamburger-menu
				position: relative
				background-color: transparent
				border: none
				width: 1.302vw
				height: 2.604vw
				cursor: pointer
				margin-right: 2.135vw
				margin-top: 1.823vw
				outline: none
				span
					position: absolute
					display: block
					background-color: $dark-text
					border-radius: 2px
					opacity: 1
					height: 0.156vw
					width: 100%
					transform: rotate(0deg)
					transition: all .3s ease
					&:nth-child(1)
						top: 0
					&:nth-child(2),
					&:nth-child(3)
						top: 0.365vw
					&:nth-child(4)
						top: 0.729vw
			.hamburger-menu.hamburger-open
				span
					&:nth-child(1)
						top: 18px
						width: 0%
						left: 50%
					&:nth-child(2)
						transform: rotate(45deg)
						z-index: 2
					&:nth-child(3)
						transform: rotate(-45deg)
						z-index: 2
					&:nth-child(4)
						top: 18px
						width: 0%
						left: 50%
			.social-list
				list-style-type: none
				padding: 0
				margin: 0
				margin-top: 1.458vw
				li
					display: inline-block
					margin-right: 2.188vw
					img
						display: inline-block
						vertical-align: middle
						width: 0.938vw
						margin-right: 0.521vw
					&:nth-child(2)
						img
							width: 1.302vw
					&:nth-child(3)
						margin-right: 0
						img
							width: 1.198vw
					p
						font-family: "RobotoMedium", sans-serif
						font-size: 0.729vw
						display: inline-block
						line-height: 0.938vw
						margin: 0
						vertical-align: middle
		.logo
			display: block
			margin-top: 1.615vw
			padding-right: 1.719vw
			img
				margin: 0 auto
		&__right
			background-color: $accent
			padding-top: 1.406vw
			padding-bottom: 6.406vw
			padding-left: 4.375vw
			height: 100%
			.social-list
				list-style-type: none
				padding: 0
				margin: 0
				li
					display: inline-block
					margin-right: 2.813vw
					img
						display: inline-block
						vertical-align: middle
						margin-right: 0.521vw
						width: 1.563vw
					p
						display: inline-block
						font-family: "RobotoBold", sans-serif
						font-size: 0.729vw
						margin: 0
						vertical-align: middle
						color: #fff
					&:nth-child(3)
						p
							line-height: 0.938vw
					&:last-child
						margin-right: 0
	//end header
	
	// main section
	
	.mobile-background
		display: none
	.mobile-button
		display: none
		.main__button
			&:after
				display: none
	.mobile-button-down
		display: none
		position: absolute
		top: 77%
		left: 50%
		text-transform: uppercase
		font-size: 10px
		letter-spacing: 1px
		transform: rotate(-90deg)
		color: $dark-text
		z-index: 5
		&:after
			content: ""
			position: absolute
			top: 6px
			left: -35px
			width: 30px
			height: 1px
			background-color: $dark-text

	.main
		position: relative
		margin-bottom: 6.771vw
		.container-fluid
			padding-right: 0
			width: 100vw
		&__caption
			position: absolute
			top: 23%
			left: 15.5%
			font-family: $caption
			font-size: 3.679vw
			text-align: center
			text-transform: uppercase
			line-height: 3.585vw
			color: $accent
			z-index: 1
			span
				display: inline-block
				margin-left: 1.792vw
				margin-bottom: 0.781vw
				font-size: 4.521vw
				color: #006C98
				&:last-child
					font-size: 4.479vw
					margin-left: 3.646vw
					margin-bottom: 0
					color: $accent
		.container-button
			position: absolute
			left: 6.51vw
			bottom: 0
		&__button
			display: inline-block
			position: relative
			font-family: $default-font
			font-size: 0.833vw
			text-transform: uppercase
			background-color: $accent
			padding: 2.135vw 3.229vw
			letter-spacing: 1.0.26vw
			color: #fff
			&::after
				content: ""
				position: absolute
				left: 100%
				background-image: url(../img/camera-diaphragm.png)
				background-repeat: no-repeat
				background-position: 0 0.104vw
				background-size: 1.458vw
				width: 2.604vw
				height: 2.604vw
				margin-left: 2.031vw
		&__socials
			position: absolute
			top: 7.813vw
			left: 2.604vw
			display: flex
			flex-direction: column
			align-items: center
			width: 2.865vw
			height: 100%
			.social-item
				margin-bottom: 1.927vw
				&:last-child
					margin-bottom: 0
				a
					color: #000
					i
						font-size: 1.25vw
			.button-down
				position: absolute
				bottom: 12.24vw
				right: 0.573vw
				font-size: 0.938vw
				text-transform: uppercase
				transform: rotate(-90deg)
				letter-spacing: 0.052vw
				color: $dark-text
				z-index: 2
				&:before
					content: ''
					position: absolute
					left: -3.854vw
					top: 0.677vw
					width: 3.125vw
					height: 0.104vw
					background-color: $dark-text
		// popup menu

		&__popup-menu
			position: absolute
			top: 0
			left: 0
			background-color: #fff
			padding: 3.385vw 3.542vw
			padding-right: 0
			width: 28%
			height: 100%
			z-index: 2
			opacity: 0
			display: none
			ul
				list-style-type: none
				margin: 0
				padding: 0
				li
					margin-bottom: 1.25vw
					a
						font-family: "MontserratSemiBold", sans-serif
						font-size: 0.729vw
						text-transform: uppercase
						color: $accent
				li.active
					a
						border-bottom: 4px solid $accent
			.social
				margin-top: 3.646vw
				li
					display: inline-block
					margin-bottom: 0
					margin-right: 1.771vw
					a
						font-size: 1.458vw
	// end main section

	// section about

	
	.about
		position: relative
		min-height: 36.458vw
		margin-bottom: 3.75vw
		&__circle-information
			position: absolute
			top: 9%
			left: 27%
			.description
				position: relative
				background-color: $accent
				padding-top: 0.729vw
				padding-bottom: 0.781vw
				padding-left: 1.302vw
				width: 12.448vw
				height: 4.688vw
				a
					position: absolute
					font-family: "RobotoBold", sans-serif
					font-size: 1.563vw
					line-height: 1.302vw
					text-transform: uppercase
					letter-spacing: 0.156vw
					color: #fff
				.circle
					position: absolute
					background-color: #fff
					width: 3.646vw
					height: 3.646vw
					right: 13.177vw
					bottom: 0.833vw
					border-radius: 50%
					&__border
						position: absolute
						bottom: -0.417vw
						right: -0.417vw
						width: 4.479vw
						height: 4.479vw
						background-color: transparent
						border: 1px solid #fff
						border-radius: 50%
						&:nth-child(2)
							width: 5.208vw
							height: 5.208vw
							bottom: -0.781vw
							right: -0.781vw
						&:nth-child(3)
							width: 5.99vw
							height: 5.99vw
							bottom: -1.198vw
							right: -1.198vw

		&__circle-information:nth-child(2)
			top: 28%
			left: 13%
			.description
				padding-left: 0.573vw
		&__circle-information:nth-child(3)
			top: 53%
			left: 19%	
		&__circle-information:nth-child(4)
			top: 37%
			left: 38%
		&__circle-information:nth-child(5)
			top: 18%
			left: 52%
		&__circle-information:nth-child(6)
			top: 46%
			left: 59%
		&__circle-information:nth-child(7)
			top: 27%
			left: 78%
		&__circle-information:nth-child(8)
			top: 68%
			left: 74%
	
	// end section about

	// section news

	.news
		margin-bottom: 6.979vw
		&__caption
			font-family: $caption
			font-size: 2.5vw
			text-transform: uppercase
			text-align: center
			margin-bottom: 2.917vw
			color: $accent
		.owl-carousel
			.owl-nav.disabled
				display: block
			.owl-nav
				text-align: center
				margin-top: 3.698vw
				button.owl-next,
				button.owl-prev
					background-color: #006C98
					border-radius: 50%
					padding: 0.938vw 1.198vw!important
					border: none
					outline: none 
					i
						color: #fff
				button.owl-prev
					margin-right: 0.885vw
				button.owl-next
					margin-left: 1.563vw

			div
				display: flex
				justify-content: center
				img
					width: 10.469vw
					height: 7.292vw
		&__description-slider
			font-family: "RobotoBold", sans-serif
			font-size: 1.25vw
			margin-left: 1.563vw
			color: $dark-text	

	// end section news


	// table responsive

	.table-prices
		display: table
		width: 95%
		.tr
			font-size: 0.833vw
			text-transform: uppercase
			border-bottom: 2px solid $accent
			padding: 0.365vw 0 0 1.198vw
			letter-spacing: 0.052vw
			color: $dark-text
			margin: 0
			margin-bottom: 0.417vw
			span
				font-size: 0.938vw
		.table-row
			display: table-row
			.cell
				display: table-cell
				.descr
					float: left
					p
						font-size: 0.938vw
						padding-left: 1.094vw
						line-height: 1.094vw
						margin-bottom: 0.104vw
						letter-spacing: 1.0.104vw
						color: #7b7b7b
				.prices
					float: right
					font-family: "RobotoBold", sans-serif
					font-size: 0.938vw
					padding-right: 1.823vw
					color: $accent
					p
						text-transform: uppercase
						padding: 0
						margin-bottom: 0
						line-height: 1.25vw
						&:nth-child(2)
							margin-bottom: 0.677vw
		.table-row.main
			background-color: $accent
			text-transform: uppercase
			font-size: 1.25vw
			color: #fff
			.cell
				font-family: "RobotoMedium", sans-serif
				padding: 0.469vw 0 0.469vw 1.094vw
				letter-spacing: 0.26vw
				span:last-child
					float: right
					padding-right: 0.885vw

	// end stable responsive


	// section services

	.service
		&__caption
			font-size: 2.5vw
			margin-bottom: 4.74vw
		&__content
			padding: 4.688vw 5.417vw
			h2
				font-size: 1.875vw
				letter-spacing: 0.052vw
				margin-bottom: 1.042vw
			.table-row:nth-child(2)
				.cell
					width: 100%
					p
						margin-bottom: 0.417vw
			.table-row:nth-child(4)
				.cell
					p
						margin-top: 1.25vw
						margin-bottom: 0.729vw
			.table-row:nth-child(6)
				.cell
					p
						margin-top: 1.042vw
						margin-bottom: 0.833vw
			.block-image
				bottom: 0.938vw
				left: 2.552vw
				img
					max-width: 100%
					height: auto
					width: 23vw
					&:first-child
						margin-right: 1.979vw

	// end section services


	// Section hire

	// Section hire

	.hire
		&__content
			padding: 5.625vw 5.417vw
			h2
				font-family: "RobotoMedium", sans-serif
				font-size: 1.875vw
				letter-spacing: 0.052vw
				margin-bottom: 1.042vw
				color: $dark-text
			.table-row 
				.cell 
					.prices 
						p 
							&:nth-child(2)
								margin-bottom: 0
			.table-row:nth-child(4)
				.tr
					margin-top: 1.25vw
			.table-row:nth-child(5)
				.cell
					.descr
						p:nth-child(2)
							margin-bottom: 1.302vw
						p:nth-child(3)
							margin-bottom: 1.042vw
						p:nth-child(4)
							margin-bottom: 1.094vw
						p:last-child
							margin-bottom: 1.042vw
					.prices
						padding-right: 1.198vw
						p:nth-child(2)
							margin-bottom: 1.302vw
						p:nth-child(3)
							margin-bottom: 0.521vw
						p:nth-child(4)
							margin-bottom: 1.094vw
			.table-row:last-child
				.cell
					.descr
						p
							padding-right: 7.552vw
			.block-image
				img
					margin-left: 1.302vw

	// End section hire

	// section tubing

	.tubing
		&__content
			padding: 6.146vw 5.417vw
			padding-bottom: 5.573vw
			h2
				font-size: 1.875vw
				letter-spacing: 0.052vw
				margin-bottom: 1.302vw
			.table-prices
				.table-row
						.cell
							.prices
								padding-right: 1.223vw
						.tr
							span
								font-size: 0.938vw
								padding-right: 1.302vw
				.table-row:nth-child(4)
					.tr
						margin-top: 1.563vw
				.table-row:nth-child(5)
					.descr
						p:nth-child(4)
							margin-bottom: 1.302vw
			.block-image
				img
					margin-left: 1.302vw

		// end section tubing

		
		// Section colb

	.colb
		&__content
			padding: 5.938vw 5.417vw
			h2
				font-size: 1.875vw
				letter-spacing: 0.052vw
				margin-bottom: 1.302vw
				color: #fff
			.caption-row
				font-size: 1.25vw
				letter-spacing: 0.26vw
				padding: 0.521vw 1.25vw
				padding-right: 2.083vw
				margin-bottom: 1.302vw
				color: $accent
			p
				font-size: 0.938vw
				letter-spacing: 1.0.26vw
				color: #fff
			.block-image
					img
						display: inline-block
						max-width: 100%
						height: auto
						width: 24vw
						&:first-child
							margin-left: 0
							margin-right: 1.167vw
		// End section colb

		// Section school

		
	.school
		&__content
			padding: 5.469vw 5.417vw
			h2
				font-size: 1.875vw
				letter-spacing: 0.052vw
				margin-bottom: 1.302vw
				+ p
					font-size: 1.25vw
					line-height: 1.771vw
					padding-right: 5.99vw
					margin-bottom: 2.76vw
			h3
				font-size: 1.25vw
				letter-spacing: 0.26vw
				margin-bottom: 1.042vw
			.owl-carousel 
				margin-bottom: 1.719vw
				div
					.description_slide
						h4
							font-size: 1.25vw
						p
							font-size: 0.938vw
					img
						width: 10.469vw
						height: 7.292vw
						margin-right: 2.083vw
				.owl-nav
					margin-top: 3.49vw
				button.owl-next,
				button.owl-prev
					padding: 18px 23px!important
					i
						font-size: 1vw
				button.owl-prev
					margin-right: 0.885vw
				button.owl-next
					margin-left: 1.563vw
			.block-image
				margin-top: 1.719vw
				margin-left: 1.51vw
			.table-prices
				.table-row
					&:nth-child(4)
						.tr
							margin-top: 1.458vw
					&:nth-child(6)
						.tr
							margin-top: 1.302vw

		// End section school 


	// section instagram

	.us-instagram
		&__caption
			font-size: 2.5vw
		&__link
			font-size: 1.25vw
			margin-bottom: 2.344vw

	// end section instagram


	// section partners

	.partners 
		h1
			font-size: 2.5vw
	// end section partners


	
	// Section contacts

	.contacts
		h1
			font-size: 2.5vw
			margin-bottom: 2.813vw
		&__content
			iframe
				width: 100%
		&__description
			padding: 4.479vw 1.51vw
			margin-left: 5.469vw
			h3
				font-size: 1.25vw
				letter-spacing: 0.26vw
				margin-bottom: 1.042vw
			p
				font-size: 0.938vw
				line-height: 1.302vw
				margin-bottom: 1.042vw

	// End section contacts


	//footer
	.footer
		padding: 3.125vw 5.417vw
		.container-fluid
			width: 100vw
		&__left
			ul
				li
					margin-right: 2.188vw
					img
						margin-right: 0.521vw
					p
						font-size: 0.729vw
						line-height: 0.938vw
						color: #fff
			.socials-footer
				margin-top: 1.823vw
				li
					a
						i
							font-size: 1.25vw

		&__right
			span
				font-size: 0.729vw
				line-height: 0.938vw
			img
				margin-left: 1.823vw
		//end footer



	// section banner

	
	.banner
		margin-bottom: 4.688vw
		&__content
			padding: 5.625vw 5.417vw
			.border-block
				&::after
					content: ""
					top: 0.521vw
					width: 0.208vw
					height: 91%
			img
				top: -4.167vw
			h1
				font-size: 2.5vw
				letter-spacing: 0.052vw
				margin-bottom: 0.781vw
				margin-left: 17vw
				+ p
					font-size: 1.563vw
					margin-left: 17vw
			.price
				font-size: 1.563vw
				margin-left: 2vw
			.count
				font-size: 3.75vw
				margin-top: -2.083vw
				margin-left: 2vw
			span
				font-size: 1.25vw
				margin-left: 2vw
				&::before
					content: ""
					top: 1.823vw
					width: 4.167vw
					height: 0.208vw
	
	// end section banner

+media-breakpoint-down(lg)
	//header
	.header__left 
		.hamburger-menu
			margin-top: 2.3vw
		.social-list 
			li 
				margin-right: 0.688vw
				p
					font-size: 0.929vw
					line-height: 1.238vw
	.header__right
		padding-left: 1.375vw
		.social-list 
			li 
				margin-right: 2.513vw
				p
					font-size: .929vw
		
	//end header

	// main

	.main
		&__socials 
			.social-item 
				a 
					i
						font-size: 1.85vw

	// end main
	
	// section colb

	.colb
		&__content 
			.block-image 
					img
						width: 21vw

	// end section colb

	// owl carousel

	.owl-carousel 
		.owl-nav 
			button.owl-next, 
			button.owl-prev
				padding: 9px 15px !important
				i
					font-size: inherit
	// end owl carousel

	.news .owl-carousel .owl-nav button.owl-next, .news .owl-carousel .owl-nav button.owl-prev
		padding: 9px 15px !important


	// section banner

	.banner
		&__content 
			.border-block
				&::after
					right: -7px

	// end section banner

+media-breakpoint-down(md)
	
	// section banner

	.banner
		&__content 
			.border-block
				&::after
					right: -14px

	// end section banner
	
	//header
	.header
		padding-left: 0
		.logo
			img
				width: 60%
		.header__left 
			.hamburger-menu
				margin-top: 2.7vw
			.social-list 
				li
					margin-right: 0.688vw
					p
						font-size: .859vw
		.header__right
			padding-left: 2.875vw
	//end header


	// main section

	.main
		&__socials 
			.social-item 
				a 
					i
						font-size: 14px
			.button-down
				right: 0.073vw
				&::before
					height: 1px
		.container-button
			left: 7.51vw

	// end main section


	// news section
	.news
		&__caption
			font-size: 36px
		.owl-carousel
			.owl-nav
				text-align: center
				margin-top: 71px
				button.owl-next,
				button.owl-prev
					border-radius: 50%
					padding: 18px 23px!important
					i
						color: #fff
				button.owl-prev
					margin-right: 17px
				button.owl-next
					margin-left: 30px
			div
				img
					width: 201px
					height: 140px

	//end news section

	
	// general table's

	.table-prices
		display: table
		width: 100%
		.tr
			font-size: 17px
			text-transform: uppercase
			border-bottom: 2px solid $accent
			padding: 7px 0 0 23px
			letter-spacing: 1px
			color: $dark-text
			margin: 0
			margin-bottom: 8px
		.table-row
			display: table-row
			.cell
				display: table-cell
				.descr
					float: left
					p
						font-size: 16px
						padding-left: 21px
						line-height: 21px
						margin-bottom: 2px
						letter-spacing: 1.2px
						color: #7b7b7b
				.prices
					float: right
					font-family: "RobotoBold", sans-serif
					font-size: 16px
					padding-right: 35px
					color: $accent
					p
						text-transform: uppercase
						padding: 0
						margin-bottom: 0
						line-height: 24px
						&:nth-child(2)
							margin-bottom: 13px
		.table-row.main
			background-color: $accent
			text-transform: uppercase
			font-size: 20px
			color: #fff
			.cell
				font-family: "RobotoMedium", sans-serif
				padding: 9px 0 9px 21px
				letter-spacing: 5px
				span:last-child
					float: right
					padding-right: 17px

		// end general table's
	
	// services
	.service	
		&__content 
			h2
				font-size: 36px
				letter-spacing: 1px
				margin-bottom: 20px
				text-align: center
			.block-image
				position: static
				margin-top: 40px
				img
					display: block
					max-width: 100%
					height: auto
					width: 100%
					margin: 0 auto
					&:first-child
						margin-right: auto
						margin-bottom: 20px
		&__caption
			font-size: 36px
	// end services

	.hire
		&__content
			h2
				font-family: "RobotoMedium", sans-serif
				font-size: 36px
				letter-spacing: 1px
				text-align: center
				margin-bottom: 20px
			.block-image
				img
					margin: 0 auto
					margin-top: 40px
		.table-row:last-child
				.cell
					.descr
						p
							padding-right: 32.552vw
	
	
	
	// section tubing

	.tubing
		&__content
			h2
				font-size: 36px
				letter-spacing: 1px
				margin-bottom: 25px
				color: $dark-text
				text-align: center
			.table-prices
				.table-row
						.cell
							.prices
								padding-right: 15px
						.tr
							span
								font-size: 16px
								padding-right: 25px
				.table-row:nth-child(4)
					.tr
						margin-top: 30px
				.table-row:nth-child(5)
					.prices
						p:nth-child(2)
							margin-bottom: 0
					.descr
						p:nth-child(4)
							margin-bottom: 25px
			.block-image
				img
					margin: 0 auto
					margin-top: 40px

		// end section tubing

	// Section colb

	.colb
		&__content
			h2
				font-size: 36px
				letter-spacing: 1px
				margin-bottom: 25px
				text-align: center
			.caption-row
				font-size: 24px
				letter-spacing: 5px
				padding: 10px 24px
				padding-right: 40px
				margin-bottom: 25px
				width: 100%
				text-align: center
			p
				font-size: 18px
				letter-spacing: 1.5px
			.block-image
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: row
				img
					display: block
					max-width: 100%
					height: 50%
					width: 50%

	// End section colb


	// school section
	.school
		&__content 
			h2
				font-size: 36px
				letter-spacing: 1px
				margin-bottom: 25px
				text-align: center
				+ p
					font-size: 24px
					line-height: 34px
					padding-right: 0
					margin-bottom: 53px
			h3
				font-size: 24px
				letter-spacing: 5px
				margin-bottom: 30px
				margin-top: 40px
				text-align: center
			.owl-carousel 
				margin-bottom: 33px
				div
					.description_slide
						h4
							font-size: 24px
						p
							font-size: 18px
							color: #8d8c8c
					img
						display: inline-block
						width: 201px
						height: 140px
						float: left
						margin-right: 40px
				.owl-nav
					text-align: center
					margin-top: 67px
				.owl-nav.disabled
					display: block
				button.owl-next,
				button.owl-prev
					background-color: #006C98
					border-radius: 50%
					padding: 18px 23px!important
					border: none
					outline: none 
					i
						font-size: inherit
						color: #fff
				button.owl-prev
					margin-right: 17px
				button.owl-next
					margin-left: 30px
	// end section

	// section instagram

	.us-instagram
		&__caption
			font-size: 36px
		&__link
			font-size: 24px	
			margin-bottom: 45px

	// end section instagram


	// partners section

	.partners
		h1
			font-size: 36px
		&__brands
			flex-direction: column
			img:not(:last-child)
				margin-bottom: 50px

	// end partners section


	// contacts section
	.contacts
		h1
			font-size: 36px
		&__description 
			h3
				font-size: 1.55vw
			p
				font-size: 1.25vw
	
	// end contacts section



	// footer

	.footer__left 
		ul 
			li 
				p
					font-size: 0.929vw
					line-height: 1.4vw
		.socials-footer 
			li 
				a 
					i
						font-size: 1.85vw
	.footer__right 
		span
			font-size: 1.29vw
			line-height: 1.4vw

	// end footer
	
+media-breakpoint-down(sm)
	// section banner
	.price-center
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
	.banner
		&__content
			.border-block
				&::after
					display: none
			h1
				font-size: 26px
				margin-left: 0
				text-align: center
				+ p
					font-size: 21px
					margin-left: 0
					text-align: center
			.price
				font-size: 16px
				margin-left: 0
				text-align: center
				margin-right: 10px
			.count
				font-size: 28px
				margin-top: -10px
				margin-left: 0
				text-align: center
				display: inline
			span
				font-size: 14px
				margin-left: 0
				display: block
				text-align: center
				&::before
					top: 22px
					width: 50px
					height: 2px
			.border-block
				&::after
					right: -14px

	// end section banner
	
	
	//header
	.header
		.logo
			float: right
			img
				width: 45%
		.header__left 
			.hamburger-menu 
				width: 25px
				height: 17px
				margin-top: 4.7vw
				span
					height: 4px
					&:nth-child(2),
					&:nth-child(3),
						top: 7px
					&:nth-child(4)
						top: 14px
			.social-list
				display: none
		.header__right
			display: none
	// end header
	
	// popup menu

	.main
		&__popup-menu
			width: 45%
			overflow: auto
			ul 
				li 
					a
						font-size: 12px
			.social 
				li 
					a
						font-size: 18px
		.header__right
			display: block
			height: auto
			.social-list:last-child
				li
					img
						width: 15px
	
	// end popup menu

	.table-prices
		.tr
			font-size: 3.417vw
			text-transform: uppercase
			border-bottom: 2px solid $accent
			padding: 0.365vw 0 0 1.198vw
			letter-spacing: 0.052vw
			margin-bottom: 0.417vw
			span
				font-size: 0.938vw
		.table-row
			display: table-row
			.cell
				display: table-cell
				.descr
					float: left
					p
						font-size: 2.738vw
						padding-left: 1.094vw
						line-height: 4.094vw
						margin-bottom: 0.104vw
				.prices
					float: right
					font-family: "RobotoBold", sans-serif
					font-size: 2.538vw
					padding-right: 1.823vw
					p
						text-transform: uppercase
						padding: 0
						margin-bottom: 0
						line-height: 5.25vw
						&:nth-child(2)
							margin-bottom: 0.677vw
		.table-row.main
			background-color: $accent
			text-transform: uppercase
			font-size: 3.25vw
			color: #fff
			.cell
				font-family: "RobotoMedium", sans-serif
				padding: 0.469vw 0 0.469vw 1.094vw
				letter-spacing: 0.26vw
				span:last-child
					padding-right: 0.885vw


	// main section

	.main
		height: auto
		overflow: hidden
		margin-top: 15px
		.container-fluid
			padding: 0
		&__socials
			display: none
		&__caption
			top: 30%
			left: 18%
			transform: translateX(-18%)
			font-size: 6vw
			line-height: 50px
			width: 100%
			span
				margin-left: 31px
				margin-bottom: 9px
				font-size: 7vw	
		.container-button
			display: none
		.mobile-button-down
			display: block
		.mobile-button
			display: block
			top: 70%
			left: 2%
			z-index: 2
			width: 100%
			text-align: center
			a
				font-size: 12px
				&:after
					background-size: 2.458vw
		.main-bg
			img
				display: none
			.mobile-background
				display: block

	// end main section	


	// sectino about

	.about
		&__circle-information 
			.description 
				a
					line-height: 1.702vw

	// end about


	// section colb
	.colb__content 
		.caption-row
			font-size: 20px
			letter-spacing: 3px
		 p
			font-size: 16px
	//end section colb


	// news

	.news 
		.owl-carousel 
			div
				display: block
				img
					display: block
					width: auto
					height: auto
					margin: 0 auto
			.owl-nav
				text-align: center
				margin-top: 10px
		&__description-slider
			font-size: 14px
			text-align: center
			margin-top: 2rem

	// end news


	// section services

	.service
		&__caption
			font-size: 24px
		&__content 
			h2
				font-size: 24px

	// end section services


	// footer
	.footer
		padding: 3.125vw 0
		.container-fluid
			width: 100%
		.footer__left 
			ul
				text-align: center
				li 
					p
						font-size: 10px
						line-height: 16px
						text-align: left
			.socials-footer
				text-align: center
				li 
					a 
						i
							font-size: 18px
		.footer__right
			margin-top: 25px
			span
				font-size: 10px
				line-height: 15px

	// end footer

	// section school

	.school
		&__content 
			.school-slider
				div 
					display: block
					img
						max-width: 100%
						height: auto
						margin: 0 auto
					.description_slide 
						h4
							text-align: center
						p
							text-align: center

	// end section school


	// section contacts

	.contacts
		&__content
			background-position-x: 76%	
		&__description 
			h3
				font-size: 1.95vw
			p
				font-size: 1.65vw
				line-height: 2.502vw
			
	// section end contacts


	.main__popup-menu .header__right .social-list li p
		font-size: 12px
	
+media-breakpoint-down(xs)
	
	.price-center
		align-items: center

	.banner
		&__content
			h1
				font-size: 18px
				+ p
					font-size: 14px
			.price
				font-size: 14px
				margin-right: 10px
			.count
				font-size: 20px
				margin-top: -10px
				margin-left: 0
				text-align: center
				display: inline
			span
				font-size: 12px
	
	// header
	.header 
		.header__left 
			.hamburger-menu
				margin-top: 27px
		.logo
			margin-top: 1.615vw
	// end header
	

	// section main

	.main
		margin-top: 10px
		height: auto
		&__caption
			font-size: 7vw
			line-height: 8vw
			span
				margin-left: 7px
				font-size: 9vw
		.mobile-button
			top: 70%
		.header__right
			height: 100%
	
	.main.toggle-height
		height: 100vh
	
	// end section main


	// section about

	.about
		min-height: 55.458vw
		&__circle-information 
			.description 
				a
					font-size: 7px
					line-height: 11px
					letter-spacing: .5px
				.circle
					width: 6.646vw
					height: 6.646vw
					right: 13.177vw
					bottom: .833vw
				.circle__border
					bottom: -.9117vw
					right: -.9117vw
					width: 8.479vw
					height: 8.479vw
					&:nth-child(2)
						width: 7.5vw
						height: 7.5vw
						bottom: -0.4281vw
						right: -0.4281vw
					&:nth-child(3)
						display: none
		&__circle-information:nth-child(1)
			top: 20%
			left: 27%
		&__circle-information:nth-child(2)
			top: 36%
			left: 13%
		&__circle-information:nth-child(3)
			top: 60%
			left: 19%
		&__circle-information:nth-child(4)
			top: 44%
			left: 40%
		&__circle-information:nth-child(5)
			top: 18%
			left: 56%
		&__circle-information:nth-child(6)
			top: 46%
			left: 64%
		&__circle-information:nth-child(7)
			top: 27%
			left: 83%
		&__circle-information:nth-child(8)
			top: 68%
			left: 80%

	// end section about


	// Section us instagram

	.us-instagram
		&__gallery
			img
				margin-right: 0

	// End section us instagram

	
	// section news

	.news
		&__caption
			font-size: 24px
		.owl-carousel 
			.owl-nav 
				button.owl-prev,
				button.owl-next
					padding: 9px 15px !important
				button.owl-prev
					margin-right: 0

	// end section news

	// hire

	.hire 
		h2
			font-size: 24px
		.table-row:last-child 
			.cell 
				.descr 
					p
						padding-right: 10.552vw
	
	// end hire

	// tubing

	.tubing
		&__content
			h2
				font-size: 24px
			.table-prices 
				.table-row 
					.tr 
						span
							font-size: 2.538vw
							padding-right: 19px
		
	// end tubing


	.table-prices .table-row.main .cell span:last-child
		padding-right: 19px

	// colb section

	.colb
		&__content 
			h2
				font-size: 24px
		.caption-row
			font-size: 12px
		p
			font-size: 12px

	// end colb section


	// school section

	.school
		margin-bottom: 50px
		&__content 
			h2
				font-size: 24px
				+ p
					font-size: 14px
					line-height: 24px
			h3
				font-size: 16px
				margin-top: 30px
			.owl-carousel 
				.owl-nav
					margin: 0
				div 
					.description_slide
						display: block
					img
						display: block
						width: auto
						height: auto
						float: none
						margin-bottom: 20px
					.description_slide
						h4
							font-size: 16px
						p
							font-size: 14px
				button.owl-next, 
				button.owl-prev
					padding: 9px 15px !important
				button.owl-prev
					margin-right: auto
	
	
	// end school section


	// section instagram

	.us-instagram
		&__caption
			font-size: 24px
		&__link
			font-size: 16px
		&__gallery
			margin-bottom: 25px

	// end section instagram


	// section partners

	
	.partners 
		&__brands
			margin-bottom: 50px
		h1
			font-size: 24px
			margin-bottom: 24px

	// end section partners


	// section us

	.contacts 
		h1
			font-size: 24px

	// end section us


	// contacts section

	.contacts
		&__content
			.container-fluid
				padding: 0
		&__description
			width: 100%
			margin-left: 0
			padding: 20px
			h3
				font-size: 12px
				margin-bottom: 15px
			p
				font-size: 10px
				margin-bottom: 30px
				line-height: 15px
	
	// end contacts section


	// footer
	.footer
		.footer__left 
			ul
				li 
					p
						font-size: 9px
						line-height: 16px
						text-align: left
			.socials-footer
				li 
					margin-right: 20px
					a 
						i
							font-size: 16px
		.footer__right
			margin-top: 25px
			span
				font-size: 10px
				line-height: 15px
			img
				width: 18%

	// end footer


	// popup menu

	.main
		&__popup-menu
			width: 100%
			padding: 0
			ul
				text-align: center
			.social 
				li
					margin-right: 20px
					&:first-child
						margin-left: 30px
		.header__right
			padding: 20px 0
			.social-list
				margin-bottom: 15px
				li
					display: inline-block
					margin-right: 15px
					p
						font-size: 10px
				&:last-child
					margin-bottom: 0
	// end popup menu


	// general table's

	.table-prices 
		.table-row 
			.cell 	
				.descr
					width: 80%

	// end general table's

	.footer__left .socials-footer
		margin-top: 20px
	
@media screen and (max-width: 425px)
	
	// popup menu

	.main
		.header__right
			display: flex
			flex-direction: row
			justify-content: space-between
			flex-wrap: wrap
			padding-right: 10px
			padding-left: 10px
			.social-list
				display: block
				text-align: left
				li
					display: block
					margin-right: 0
					p
						font-size: 12px
	
	// end popup menu
	
	
	// footer
	.footer
		.footer__left 
			ul
				text-align: center
				li 
					display: inline-block
					img
						width: 15px
					p
						text-align: left
			.socials-footer
				text-align: center
				li
					display: inline-block
					margin-right: 10px

	// end footer

@media screen and (max-width: 375px)
	.main 
		.mobile-button
			top: 75%
		.mobile-button-down
			font-size: 9px
			left: 48%
			&:after
				left: -30px
			width: 20px

	.footer 
		&__left 
			ul
				display: flex
				justify-content: center
				text-align: center
				li
					margin-right: 0
			.socials-footer
				text-align: center
				margin-top: 15px
		&__right
			margin-top: 10px!important

@media screen and (max-width: 320px)
	.main .header__right
		height: auto
				
	
	